out/production/OOP-rereversi-game/ConsoleGui.class
out\production\OOP-rereversi-game\Gui.class
.class
*.class
*.class
*.class
*.class
*.class
*.class
out\
out/production/OOP-rereversi-game/RegionScore.txt
out/production/
*.class
*.class
*.class
out/
*.class
out/production/OOP-rereversi-game/Gui.class
*.class
src/META-INF/MANIFEST.MF
out/production/OOP-rereversi-game/Gui.class
*.iml
*.xml
*.xml
*.xml
